form {
    margin-top: 20px;
}

form a {
    margin-left: 10px;
}

div a {
    margin-top: 20px;
}

div button {
    margin-left: 25px;
    margin-top: 20px;
}

div h3 {
    margin-top: 10px;
}

div h6 {
    margin-top: 10px;
}

div p {
    margin-top: 10px;
}